* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  font-family: 'Roboto', sans-serif;
  background: url('images/bus.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
}
nav {
  height: 20px;
  width: 100%;
  padding: 15px 0;
}
.container {
  width: 1200px;
  max-width: 85%;
  margin: 0 auto;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 0px 6px;
}
nav ul li a {
  color: #fff;
  padding: 8px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 30px;
}
nav ul li a:hover,
a.active {
  background-color: #52af3a;
  border-radius: 5px;
}
.main-content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 70px;
  align-items: center;
}
.booking-content {
  color: #fff;
  width: 100%;
  float: left;
  margin-left: 50px;
}
.booking-content h1 {
  font-size: 70px;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  font-weight: 500;
}
.booking-form {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  float: right;
  width: 80%;
  margin: 50px 0px 0px 80px;
}
/* .booking-form h3 {
  margin: 10px 0px;
} */
/* .booking-form .input-group {
  margin: 10px 0;
} */
/* .booking-form .calculations {
  margin: 10px 0;
} */
/* .booking-form .calculations p {
  font-weight: 500;
  margin-bottom: 10px;
} */
.booking-form input {
  width: 100%;
  display: block;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background: #f3f5ff;
  border-radius: 4px;
  margin: 5px 0;
}
.booking-form .inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.f-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inp-width {
  min-width: 100px;
}
.plus-minus-btn {
  color: #3352f2;
  font-size: 30px;
  padding: 2px;
  /* margin: 10px 10px 5px 5px; */
  margin-top: 20px;
  word-spacing: 20px;
}
.btn-style {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 500;
  background-color: #52af3a;
}
.amount {
  display: flex;
  justify-content: space-between;
}

#first-class-increase,
#first-class-decrease,
#economy-increase,
#economy-decrease {
  cursor: pointer;
}

#confirmation-details {
  display: none;
  /* text-align: c; */
  line-height: 1.5;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 10px;
}

#confirmation-details h1 {
  font-size: 50px;
}

#confirmation-details p {
  font-size: 25px;
}

span {
  font-weight: bold;
  color: #3352f2;
}
